.logon-container {
	width: 100%;
	max-width: 1120px;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logon-container section.form {
	width: 100%;
	max-width: 350px;
	margin-right: 30px;
}
.logon-container section.form .logo {
	animation: entrada-logo 0.5s ease-in-out;
	width: 250px;
}
.logon-container section.form form {
	margin-top: 100px;
	animation: entrada-logo 0.2s;
	animation-delay: 100ms;
	animation-fill-mode: backwards;
}
.logon-container section.form form h1 {
	font-size: 32px;
	margin-bottom: 32px;
	color: #41414d;
}
.logon-container .pessoas {
	animation: entrada-direita 0.5s ease-in-out;
	animation-fill-mode: backwards;
}
/* RESPONSIVIDADE */
@media screen and (max-width: 900px) {
	.logon-container {
		padding: 30px;
		min-height: 50vh;
	}

	.logon-container section.form {
		margin: 0 auto;
		text-align: center;
	}
	.logon-container section.form form {
		margin-top: 50px;
	}
	.logon-container .pessoas {
		display: none;
	}
}
