@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
body {
	font: 400 14px Roboto, sans-serif;
	background: #f0f0f5;
}
input,
button,
textarea {
	font: 400 18px Roboto, sans-serif;
}
button {
	cursor: pointer;
}
form input {
	width: 100%;
	height: 60px;
	color: #333;
	border: 1px solid #dcdce6;
	border-radius: 8px;
	padding: 0 24px;
	transition: all 0.3s ease-in-out;
}
form textarea {
	width: 100%;
	min-height: 140px;
	color: #333;
	border: 1px solid #dcdce6;
	border-radius: 8px;
	padding: 16px 24px;
	line-height: 24px;
	resize: vertical;
}
form input:focus {
	border-color: #e02041;
}
.button {
	width: 100%;
	height: 60px;
	background-color: #e02041;
	border: 0;
	border-radius: 8px;
	color: #fff;
	font-weight: bold;
	margin-top: 16px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	line-height: 60px;
	transition: filter 0.2s;
}
.button:hover {
	filter: brightness(80%);
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	width: 100%;
	height: 60px;
	color: #737380;
	border: 1px solid #dcdce6;
	border-radius: 8px;
	padding: 0 24px;
	transition: all 0.3s ease-in-out;
	display: inline-block;
	background-color: #fff;
	font: 400 18px Roboto, sans-serif;
	line-height: 60px;
	text-align: left;
	vertical-align: middle;
	outline: 0;
	position: relative;
}
.inputfile + label::before {
	content: "UPLOAD";
	position: absolute;
	top: 25%;
	right: 10px;
	font-size: 10px;
	background-color: #00ff88;
	width: 60px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	border-radius: 10px;
	text-align: center;
}
.inputfile:focus + label,
.inputfile + label:hover {
	border: 1px solid #e02041;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile + label * {
	pointer-events: none;
}
@keyframes entrada-fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes entrada-logo {
	0% {
		transform: translateX(-50px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes entrada-direita {
	0% {
		transform: translateX(50px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

.back-link {
	display: flex;
	align-items: center;
	margin-top: 40px;
	color: #41414d;
	font-size: 18px;
	text-decoration: none;
	font-weight: 500;
	transition: opacity 0.2s;
}
.back-link:hover {
	opacity: 0.8;
}
.back-link svg {
	margin-right: 8px;
}
